<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.courseplatform.dao.OperationtypeTableDao">
  <resultMap id="BaseResultMap" type="com.courseplatform.po.OperationtypeTable">
    <id column="OPERATIONTYPEID" jdbcType="VARCHAR" property="operationtypeid" />
    <result column="OPERATIONTYPENO" jdbcType="VARCHAR" property="operationtypeno" />
    <result column="OPERATIONTYPENAME" jdbcType="VARCHAR" property="operationtypename" />
  </resultMap>
</mapper>