<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.courseplatform.dao.OperationcensusyearTableDao">
  <resultMap id="OperationcensusyearTableMap" type="com.courseplatform.po.OperationcensusyearTable">
    <id column="OPERATIONCENSUSYEARNO" jdbcType="VARCHAR" property="operationcensusyearno" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="OPERATIONCENSUSYEAR" jdbcType="VARCHAR" property="operationcensusyear" />
    <result column="OPERATIONYEARNUM" jdbcType="INTEGER" property="operationyearnum" />
    <result column="READARTICLENUM" jdbcType="INTEGER" property="readarticlenum" />
    <result column="ADDARTICLENUM" jdbcType="INTEGER" property="addarticlenum" />
    <result column="DOWNSHAREDFILENUM" jdbcType="INTEGER" property="downsharedfilenum" />
    <result column="UPLOADSHAREDFILENUM" jdbcType="INTEGER" property="uploadsharedfilenum" />
    <result column="PUBLISHHOMEWORKNUM" jdbcType="INTEGER" property="publishhomeworknum" />
    <result column="COMMITHOMEWORKNUM" jdbcType="INTEGER" property="commithomeworknum" />
    <result column="CORRECTHOMEWORKNUM" jdbcType="INTEGER" property="correcthomeworknum" />
    <result column="READQUESTIONNUM" jdbcType="INTEGER" property="readquestionnum" />
    <result column="QUESTIONNUM" jdbcType="INTEGER" property="questionnum" />
    <result column="ANSWERNUM" jdbcType="INTEGER" property="answernum" />
    <result column="GOODNUM" jdbcType="INTEGER" property="goodnum" />
    <result column="BADNUM" jdbcType="INTEGER" property="badnum" />
    <result column="COLLECTNUM" jdbcType="INTEGER" property="collectnum" />
    <result column="REPORTNUM" jdbcType="INTEGER" property="reportnum" />
  </resultMap>
  
  <insert id="insertOperationYear" parameterType="OperationcensusyearTable">
  	insert into operationcensusyear_table 
  		(OPERATIONCENSUSYEARNO,OPERATOR,OPERATIONCENSUSYEAR,OPERATIONYEARNUM,READARTICLENUM,ADDARTICLENUM,
  		UPLOADSHAREDFILENUM,PUBLISHHOMEWORKNUM,COMMITHOMEWORKNUM,QUESTIONNUM,ANSWERNUM,COLLECTNUM)
  		values
  		(#{operationcensusyearno},#{operator},#{operationcensusyear},#{operationyearnum},#{readarticlenum},#{addarticlenum},
  		#{uploadsharedfilenum},#{publishhomeworknum},#{commithomeworknum},#{questionnum},#{answernum},#{collectnum})
  </insert>
  
  <delete id="deleteOperationYear" parameterType = "String">
  	delete from operationcensusyear_table where OPERATIONCENSUSYEAR like #{year}
  </delete>
  
  <select id="getYearReportList" parameterType="Map" resultType="com.courseplatform.po.report.OperationReport">
  	select u.USERNO as userNo,u.USERNAME as userName,r.ROLENAME as roleName,o.OPERATIONCENSUSYEAR as date,
  			o.OPERATIONYEARNUM as operation,o.READARTICLENUM as comment,o.ADDARTICLENUM as article,
  			o.UPLOADSHAREDFILENUM as sharedFile,o.PUBLISHHOMEWORKNUM as homeWork,o.COMMITHOMEWORKNUM as homeWorkCommit,
  			o.QUESTIONNUM as question,o.ANSWERNUM as answer,o.COLLECTNUM as collection
  			from user_table u,role_table r,operationcensusyear_table o 
  			where u.USERNO = o.OPERATOR and u.ROLEID = r.ROLEID
  			and str_to_date(o.OPERATIONCENSUSYEAR,'%Y-%m-%d')>= str_to_date(#{startDate},'%Y-%m-%d')  
  			and str_to_date(#{endDate},'%Y-%m-%d') >= str_to_date(o.OPERATIONCENSUSYEAR,'%Y-%m-%d')
  </select>
  
  <select id="getYearReportListByNo" parameterType="Map" resultType="com.courseplatform.po.report.OperationReport">
  	select u.USERNO as userNo,u.USERNAME as userName,r.ROLENAME as roleName,o.OPERATIONCENSUSYEAR as date,
  			o.OPERATIONYEARNUM as operation,o.READARTICLENUM as comment,o.ADDARTICLENUM as article,
  			o.UPLOADSHAREDFILENUM as sharedFile,o.PUBLISHHOMEWORKNUM as homeWork,o.COMMITHOMEWORKNUM as homeWorkCommit,
  			o.QUESTIONNUM as question,o.ANSWERNUM as answer,o.COLLECTNUM as collection
  			from user_table u,role_table r,operationcensusyear_table o 
  			where u.USERNO = o.OPERATOR and u.ROLEID = r.ROLEID
  			and str_to_date(o.OPERATIONCENSUSYEAR,'%Y-%m-%d')>= str_to_date(#{startDate},'%Y-%m-%d')  
  			and str_to_date(#{endDate},'%Y-%m-%d') >= str_to_date(o.OPERATIONCENSUSYEAR,'%Y-%m-%d')
  			and u.USERNO like #{userNo}
  </select>
</mapper>